x-- Create a Registration, Login, and Log Out system with PHP and MySQL --x

x-- REGISTRATION --x
Has at least
> FirstName
> LastName
> Email
> Password
> Verify Password

x-- LOGGING IN --x
- If user presses "SUBMIT" without filling out all of the fields, then show
    error
- Email is unique
    + If user tries to sign up with an email that is already used, then show an
        error
- Once fields are properly filled and "SUBMIT" is pressed, then add new user to
    database
    + Hash passwords

x-- LOGGED IN --x
- User Menu
    + If user is logged into the system, they should be able to see a table of
        all other users
        > ID
        > Name
        > Email
        > Action
            + Edit
                - www.facebook.com/edit/user=X
            + Delete
                - www.facebook.com/edit/user=X

x-- LOGGING OUT --x
- If user is logged into the system, they should be able to see a log out
    option

x-- MySQL --x
- User Database
    > ID (primary key)
    > FirstName (NOTNULL)
    > LastName (NOTNULL)
    > Email (NOTNULL UNIQUE)
    > Password

x-- DELIVERABLES --x
+ Source Code
+ Exported Database

x-- TIMELINE --x
W: Make User database
R:
F:
S:
U:
M:
T:
